{% extends "base.html" %}

{% block header %}
  <title>GumbysGuide.com | Index</title>
{% end %}

{% block body %}

  <p> This is the Gumby's Guide GitHub</p>
  <p> This is in the Templates folder.</p>
  {% for row in records %}
    {{ str(row["miles"])+"\n" }}
  {% end %}

<div class="ui container">
  <h1>Theming Examples</h1>
  <h2 class="ui dividing header">Site</h2>
  <h2 class="ui dividing header">Menu</h2>
  <h2 class="ui dividing header">Buttons</h2>
  <h2 class="ui dividing header">Table</h2>
  <h2 class="ui dividing header">Input</h2>
  <h2 class="ui dividing header">Card</h2>
</div>
{% end %}
