{% extends "base.html" %}

{% block header %}
  <title>GumbysGuide.com | MPG</title>
{% end %}

{% block body %}
<div class="ui container">
  <h1>Enter data below:</h1>
  <form method="post" action="/mpg">
    <div class="ui labeled input">
      <a class="ui label">Miles</a>
        <input placeholder="miles driven" type="text" name="miles">
    </div><br><br>
    <div class="ui labeled input">
      <a class="ui label">Gallons</a>
        <input placeholder="gallons of gas consumed" type="text" name="gallons">
    </div><br><br>
    <div class="ui labeled input">
      <a class="ui label">Dollars</a>
        <input placeholder="total cost of fill-up ($)" type="text" name="dollars">
    </div><br><br>
    <button class="ui massive button" type="submit">Submit</button>
  </form>
</div>
{% end %}
