{% extends "base.html" %}

{% block header %}
  <title>GumbysGuide.com | MPG</title>
{% end %}

{% block body %}
  <h1>Enter data below:</h1>
  <form method="post" action="/mpg">
    <div class="ui labeled input">
      <a class="ui label">Miles</a>
        <input placeholder="miles driven" type="text" name="miles">
    </div><br><br>
    <div class="ui labeled input">
      <a class="ui label">Gallons</a>
        <input placeholder="gallons of gas consumed" type="text" name="gallons">
    </div><br><br>
    <div class="ui labeled input">
      <a class="ui label">Dollars</a>
        <input placeholder="total cost of fill-up ($)" type="text" name="dollars">
    </div><br><br>
        <!--
    <p>Miles:<br><input type="text" name="miles"></p>
    <p>Gallons:<br><input type="text" name="gallons"></p>
    <p>Total Cost ($):<br><input type="text" name="dollars"></p> -->
    <button class="ui massive button" type="submit">Submit</button>
    <!-- <input type="submit"> -->
  </form>
{% end %}
